
body {
    display: flex;
    height: 100vh;
    font-family: Ubuntu;
    flex-direction: column;
    margin: 0;
    background-color: #444654;
    overflow-x: hidden;
}

.AccueilPage {
    overflow-y: hidden;
    background-color: #d5d5d5;
}

.index {
    height: 100vh;
    overflow-y: hidden;
    background-color: #757575;
}

.index-gauche {
    height: 100%;
    position: relative;
    width: 60%;
    font-size: 10em;
    background-color: #372c48;
    animation: slideleft 2s ease 0s 1 normal forwards;
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.index-droit {
    width: 40%;
    height: 100%;

}

.index-neonbar {
    width: 100vw;
    height: 2%;
    position: absolute;
    z-index: 1;
    filter: brightness(2);
    display: none;
    animation: neonbar-right-entrance 2s ease 0s 1 normal forwards;

}

.exit-left {
    animation: neonbar-right-exit 2s ease 0s 1 normal forwards;
}

.index-neonbar1, .index-neonbar3 {
    background-color: #3f2f59;
    box-shadow: 0px 0px 4em 20px #3f2f59;
}

.index-neonbar2, .index-neonbar4 {
    background-color: #b7b7b7;
    box-shadow: 0px 0px 4em 20px #b7b7b7;
}

.index-neonbar1 {
    top: 20%;
}

.index-neonbar2 {
    top: 35%;
}

.index-neonbar3 {
    top: 50%;
}

.index-neonbar4 {
    top: 65%;
}

@keyframes neonbar-right-entrance {
    0% {
        opacity: 0;
        transform: rotateY(70deg);
        transform-origin: right;
    }

    100% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: right;
    }
}

@keyframes neonbar-right-exit {
    0% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: left;
    }

    100% {
        opacity: 0;
        transform: rotateY(-70deg);
        transform-origin: left;
    }
}

.index-neon-title {
    color: #b7b7b7;
    text-shadow: 0px 0px 25px #b7b7b7;
    filter: brightness(2);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.index-droit-blacksquare1, .index-droit-blacksquare2 {
    height: 50%;
    width: 100%;
    background-color: #1d1d1d;
}

.index-droit-blacksquare1 {
    animation: topentrance 1.5s ease 0s 1 normal forwards;

}

.index-droit-blacksquare2 {
    animation: bottomentrance 1.5s ease 0s 1 normal forwards;

}

@keyframes neonbar-slice-translation {
    0% {
        transform: translateX(-15px);
    }

    38% {
        transform: translateX(-60px);
    }

    72% {
        transform: translateX(-150px);
    }

    81% {
        transform: translateX(-20px);
    }

    90% {
        transform: translateX(40px);
    }

    95% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes topentrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

@keyframes bottomentrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

/*========================Fin de lq page d'accueil debut de la description des navbar ============================================*/


.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 92vw;
    height: 8vh;
    position: relative;
    color: #ffffff;
    text-shadow: 0px 0px 25px #b7b7b7;
    background-color: #575757;
    border-radius: 0px 60px 60px 0px;
    filter: drop-shadow(0 0 8px #7f05ff) brightness(2);
    box-shadow: 0px 15px 30px #101010;;
    animation: pulseheart 2s ease 0s 1 normal forwards;
}

.nav1::after {
    content: '';
    width: 75%;
    position: absolute;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color: #1a1a1a;
    box-shadow: 10px 0px 15px #181818;
    border-radius: 0px 60px 60px 0px;
}

.icone-right-navbar {
    width: 20%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #1a1a1a;
    font-size: 2em;

}

.imagepdp {
    background-image: url("image/pdp.png");
    width: 55px;
    height: 55px;
    margin-right: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: #1d1d1d 2px solid;

}

.imagepdp:hover .nav1::after {
    width: 60%;
}

@keyframes pulseheart {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

.nav2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    cursor: pointer;

    justify-content: center;
    position: fixed;

    top: 0%;
    left: 0%;
    width: 14%;
    height: 100vh;
    background-color: #1a1a1a;
    filter: drop-shadow(0 0 15px #401d64) drop-shadow(0 0 50px #401d64) brightness(2);

}

div > #neon {
    position: absolute;
    left: 45%;
    margin: 1%;

}

.fond {
    width: 77vw;
    padding-top: 14vh;
    height: 100%;
    position: absolute;
    padding-right: 3%;
    right: 0%;
    bottom: 0%;

}

.lien {
    text-decoration: none;
    color: white;
    padding-left: 8%;

    padding-top: 6%;

    width: 97%;
    height: 8%;
    display: block;
    transition: background-color;

}

.lien:hover {
    background-color: #444444;
    width: 108%;
    height: 7%;
    border-radius: 0px 45px 45px 0px;
    position: relative;;
    filter: drop-shadow(0 0 8px #7f05ff) brightness(1);
    box-shadow: 0px 0px 30px #101010;;


}

.boutonburger {
    font-size: 4em;
    display: none;

}

a {
    text-decoration: none;
}

.out {
    width: 100%;
    animation: sorti 1s ease 0s 1 normal forwards;
}

.out > .lien {
    display: none;
}

.in > .lien {
    display: block;
}

.in {
    animation: entrer 1s ease 0s 1 normal forwards;
}

@keyframes entrer {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sorti {
    0% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: left;
    }

    100% {
        opacity: 0;
        transform: rotateY(-70deg);
        transform-origin: left;
    }
}

@media only screen and (max-width: 1045px) {


    .boutonburger {
        display: block;
    }


    .fond {
        width: 100vw;
        padding-top: 14vh;
        height: 100%;
        position: absolute;
        padding-right: 3%;
        padding-left: 3%;
        right: 0%;
        bottom: 0%;

    }


.lien {

    text-decoration: none;
    color: white;

    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    height: auto;

    transition: background-color;
    display: none;
}

.nav2 {

    width: 0%;
}

.lien:hover {
    color: palevioletred;
    text-shadow: 0px 0px 25px palevioletred;
    background-color: transparent;
    width: 50%;
    height: auto;

    z-index: 1;

}

}
