body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.bg-gris {
    background-color: #444654;
}



.page1 {
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 10px 2em grey;
    position: relative;

}

.icone-next{
    font-size: 3em;
    text-shadow: 0px 0px 30px white;


}

.logo-space {
    position: relative;
    margin-top: 15%;
    margin-bottom: 5%;
    width: 31%;
}

.page1logo {
    width: 76%;
    height: 99%;
    top: -68%;
    left: 13%;
    position: absolute;
    border-radius: 40px;
    text-shadow: 0px 0px 25px #b7b7b7;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titleNaoNeon {

    box-shadow: 0px 0px 2em white;
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.titleNaoNeon > span {
    font-size: 3em;
    color: #1a1a1a;
    font-family: 'Lora', serif;
}

.form-elt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;


}

.inputneonborder {
    width: 47%;
    height: 14%;
    padding: 8px;

}

.inputNeon {
    z-index: 1;
    font-size: 1.5em;
    padding: 20px;

}

/*=============PAGE2 =================*/
.page2 {
    width: 120%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    top: 0%;
    right: -20%;


}
.text-container {

    width: 80%;

    height: 80%;
    margin: 0 auto;
    text-align: left;

    overflow: hidden;
}

#text {
    font-size: 25px;
    white-space: pre-wrap;
    overflow: hidden;
    animation: revealText 8s steps(200) forwards;
}


#cursor {
    position: absolute;
    width: 2px;
    height: 1em;
    background-color: black;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


