a{
    text-decoration: none;
}

.backBar{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.backBar {
    color: #1a1a1a;
    font-size: 2em;
}
.settingsimagepdp{
    width: 80px;
    height: 80px;
}

/*############## Fin backbar #################*/
.settings-option-bar{
    display: flex;
    justify-content: space-around;
    border-bottom: #282828 3px solid;
}
.settings-option{
    text-decoration: none;
    color: #1a1a1a;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;

}

.settings-option>i{
    color: #1a1a1a;
    font-size: 2em;
    margin-right: 5px;
}

.setting-container-menu{
height: 1150px;
    width: 100%;
    background-color: #687d80;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

}

/*############## settings general  #################*/
.titleBigSettings{
    width: 35%;
    font-size: 3em;
    border-bottom: black 3px solid ;
    margin-bottom: 60px;

}
.titleSMSettings{
    width: 24%;
    font-size: 2em;
    color: #0d0d0d;
    border-bottom: #0d0d0d 3px solid ;
    margin-bottom: 30px;
    margin-top: 60px;


}
.settingsOptionPage{
    margin-bottom: 20%;
}

/*############## OPTION PROFIL #################*/
.imagepdp-Settingsprofil{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.hover-grayscale{
    filter: grayscale(90%);
}
.profil-modifier-nom{
    display: flex;
    flex-direction: column;
}
#Porfilbio{
    width: 70%;
    height: 300px;
    background-color: transparent;
    border: 2px var(--prof) solid;
}
textarea{
    width: 70%;
    height: 200px;
}
textarea:focus{
    background-color: var(--prof);
}
.opt-profil-icone-choisi{
    width: 20%;
    height: 300px;
    background-color: black;
}

.reseaux{
    width: 140px;
    height: 94px;
    border-radius: 30px;
    font-size: 1.6em;

    display: flex;

    flex-direction: column;
    justify-content: start;
}
.reseaux-fb{
    border: #1168FC 2px solid;
    color: #1168FC;
}
.reseaux-fb:hover{
    background-color:  #1168FC ;
    color: white;
}
.reseaux-whatsapp{
    border: #85EB6C 2px solid;
    color: #85EB6C;
}
.reseaux-whatsapp:hover{
    background-color:  #85EB6C ;
    color: white;
}
.reseaux-twitter{
    border: #2F9EF1 2px solid;
    color: #2F9EF1;
}
.reseaux-twitter:hover{
    background-color:  #2F9EF1 ;
    color: white;
}
.reseaux-x{
    border: #080808 2px solid;
    color: #080808;
}
.reseaux-x:hover{
    background-color:  #080808 ;
    color: white;
}

.reseaux-insta-bordure{
    background: radial-gradient(100% 100% at 0% 100% , #FAC734 20%, #E8453A , #E46CD7 , #8B6FFD 120%);
    border: 0;
}
.reseaux-insta{
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E46CD7;
    font-size: 1.8em;
}
.reseaux-insta-bordure:hover .reseaux-insta{
    background: transparent;
    color: white;

}
.profil-badge{

    width: 100%;
    background-color: #401d64;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}
.profil-bage-img-et-span{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.imagebadge{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}


/*############## OPTION NOTIF #################*/

.opt-allnotif-ic-true{
    color: green;
}
.opt-allnotif-ic-false{
    color: red;
}


.opt-notif-type-container{
    height: 450px;
    width: 100%;
}
.opt-notif-type-select{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.opt-notif-type{
    height: 50px;
    width: 40%;
    background-color: #c20a0a;
    margin-bottom: 40px;
}
.opt-notif-animaiton-type{
    height: 100%;
    width: 50%;
    background-color: #3a9f3a;
}
.opt-notif-toggleSwitch{
    width: 400px;
    height: 400px;
}


/*############## OPTION CONFIDENTIALITE #################*/
.opt-confidentialite-informationTag{
    background-color: green;
    width: 234px;
    height: 82px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
      animation: flip-scale-2-hor-top 0.5s linear both;

}


@keyframes flip-scale-2-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    50% {
        -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
        transform: translateY(-50%) rotateX(-90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
        transform: translateY(-100%) rotateX(-180deg) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}




/*############## OPTION PROJET #################*/
.opt-projet-listeProj{
    border: black 3px solid ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.opt-projet-auteur,opt-projet-collab{
    border: black 3px solid;
}
.opt-projet-listeProj-right{
    text-align: right ;
}


/*############## OPTION STAT #################*/
.opt-stat-container-stat{
    height: 400px;
    width: 100%;
}
.opt-stat-left-square-container{
    height: 100%;
    width: 20%;

}
.opt-stat-left-square{
    width: 100%;
    height: 50%;
    border: black 3px solid;

}
.opt-stat-middle-container{
    width: 50%;
    height: 100%;
    border: black 3px solid;
}
.opt-stat-right{
    width: 20%;
    height: 100%;
    border: black 3px solid;
}
.opt-stat-graph-container{
    width: 100%;
    height: 500px;
}
.opt-stat-graph{
    width: 80%;
    height: 100%;
    border: black 2px solid;

}


/*############## OPTION STAT #################*/
.opt-apparence-DLtheme{
    width: 100%;
    height: 300px;

}

.opt-apparence-d,.opt-apparence-l{
    width: 45%;
    height: 100%;
    border: black solid 2px;

}
.opt-apparence-d-titre,.opt-apparence-l-titre{
    width: 100%;
    height: 10%;
    border: #401d64 3px solid;
}

.opt-apparence-d{}

.opt-apparence-l{}


.opt-apparence-apercu-container{
    width: 100%;
    height: 400px;
}
.opt-apparence-apercu{
width: 30%;
    height: 100%;
    border: black 2px solid;
}
.opt-apparence-parametre-apercu{
    width: 30%;
    height: 100%;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
}

.opt-apparence-save{
    width: 100%;
    height: 100px;
}
/*############## OPTION MDP #################*/
.opt-mdp-changerMDP{
    background-color: #401d64;
    border-radius: 0 60px 60px 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.square {
    width: 50%; /* Largeur du carré */
    height: 100%; /* Hauteur du carré */
    background: linear-gradient(to right, transparent 0%, black 25%); /* Opacité 0 à gauche, 100% à droite */
    border-radius: 0 50px 50px 0; /* Coins droits arrondis */
}
.square>p{
    color: white;
}