@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&family=Roboto+Condensed&family=Rubik:ital,wght@1,300&family=Ubuntu&display=swap');

body{
    overflow-y: auto;
}
.anim-container {
    width: 100%;
    height: 520px;
    border-top: #1d1d1d 2px solid;
    border-radius: 15px 60px;
    margin-bottom: 3%;
    background-color: white;
    display: flex;

}
.fond{
    height: 100%;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.systemesolaire {

    background: linear-gradient(to bottom, #0c0536 60%, #000000 150%);
}

.sun {
    background-color: #ffce0b;
    border-radius: 50%;
    height: 220px;
    position: absolute;
    top: 16%;
    left: 37%;
    width: 220px;
    box-shadow: 0px 0px 3em lightgrey;
}

.earth, .moon {
    border-radius: 50%;
    border-top: lightgrey 3px solid;
    position: absolute;

}

.earth {
    width: 330px;
    height: 330px;
    top: -25.5%;
    left: -23.5%;
    animation: orbiteHoraire 36s linear infinite;
}

.earth::before {
    background-color: #1a26af;
    width: 58px;
    height: 58px;
    top: 47%;
    left: 89%;
}

.earth::before, .moon::before {
    border-radius: 50%;
    position: absolute;
    content: '';
}

.moon {
    top: 42%;
    left: 84%;
    height: 90px;
    width: 90px;
    animation: orbiteHoraire 3s linear infinite;
}

.moon::before {
    background-color: lightgrey;
    top: 35%;
    left: 85%;
    width: 21px;
    height: 21px;
}
/*######################    ANIM SPinnerRGB  ##########################################################*/

@keyframes orbiteHoraire {
    100%{
        rotate: 360deg;
    }
}
@keyframes orbiteAntiHoraire {
    100%{
        rotate: -360deg;
    }
}
.spinnerRGB{
    background: radial-gradient(grey , white);
}
.spinnerBLeu,.spinnerGreen,.spinnerRed,.spinnerYellow{
border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
.spinnerBLeu{
    border-top: #545494 10px solid;
    width: 200px;
    height: 200px;
    animation: orbiteHoraire  1.9s linear infinite;
}
.spinnerGreen{
    border-top: #3a9f3a 8px solid;
    width: 150px;
    height: 150px;
    animation: orbiteAntiHoraire  1.6s linear infinite;
}
.spinnerRed{
    border-top: #b45757 6px solid;
    width: 100px;
    height: 100px;
    animation: orbiteHoraire  1.3s linear infinite;
}
.spinnerYellow{
    border-top: #bbbb6e 4px solid;
    width: 50px;
    height: 50px;
    animation: orbiteAntiHoraire  1s linear infinite;
}

/*######################    ANIM RESEAUX  ##########################################################*/


.reseaux-multimedia {
background-color: #606060;
}
.reseaux{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 1.8em;
    padding: 2px;
}
.reseaux-fb{
    border: #1168FC 2px solid;
    color: #1168FC;
}
.reseaux-fb:hover{
    background-color:  #1168FC ;
    color: white;
}
.reseaux-whatsapp{
    border: #85EB6C 2px solid;
    color: #85EB6C;
}
.reseaux-whatsapp:hover{
    background-color:  #85EB6C ;
    color: white;
}
.reseaux-twitter{
    border: #2F9EF1 2px solid;
    color: #2F9EF1;
}
.reseaux-twitter:hover{
    background-color:  #2F9EF1 ;
    color: white;
}
.reseaux-x{
    border: #080808 2px solid;
    color: #080808;
}
.reseaux-x:hover{
    background-color:  #080808 ;
    color: white;
}

.reseaux-insta-bordure{
    background: radial-gradient(100% 100% at 0% 100% , #FAC734 20%, #E8453A , #E46CD7 , #8B6FFD 120%);
    border: 0;
}
.reseaux-insta{
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E46CD7;
    font-size: 1.8em;
}
.reseaux-insta-bordure:hover .reseaux-insta{
    background: transparent;
    color: white;

}


/*######################    ANIM donuts  ##########################################################*/

